{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>{{ cat.name }}</h1>
    <div>
        {% for game in cat.boardgames %}
            <span>{{ game.title }}</span>
            {# dump(game) #}
            <img src="{{asset('uploads/' ~ game.picture)}}" alt="{{ game.title }}">
        {% endfor %}
    </div>
{% endblock %}