{% extends 'base.html.twig' %}

{% block title %}Hello LoanController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Emprunter {{ game }}</h1>
    {{ form(form) }}
</div>
{% endblock %}
